torch
torchvision
transformers
sentence-transformers
psycopg2-binary
fastapi
uvicorn
python-dotenv
tqdm
pillow
einops
scikit-learn
opencv-python-headless
numpy<2.0.0
insightface>=0.7.3
onnxruntime>=1.16.0