@import "tailwindcss";
body {
  background-color: black;
  color: white;
  overflow-x: hidden; /* Prevent horizontal scroll globally */
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777;
}
/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
}
